@import "tailwindcss";
header {
  position: fixed !important;
  z-index: 2147483647 !important;
  isolation: isolate !important;
  transform: translate3d(0,0,0) !important;
}

canvas {
  z-index: 0 !important;
  position: relative !important;
  pointer-events: none !important;
}


